/* Exo1 10/05/2022 */
ma-liste {
    text-align: center;
    color: red;
  } 

/* Exo2 10/05/2022*/
  .test1 {
    text-align: center;
    color: red;
  } 
  .test2 {
    text-align: center;
    color: red;
  } 

/* Exo3 10/05/2022 */
  mon-div {
    text-align: center;
    color: red;
  } 

